@{
    ViewData["Title"] = "Home Page";
}
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="868360967766-16m02f3h7j62d42jhbl3pkpmia124740.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

<div class="text-center">

<h1 class="text-center">Welcome to the Dojo Activity Center</h1>

  <body>
    <div class="d-inline-block signBox" margin-top:25%; background: green;>
        <h3>Please Sign in to Continue</h3>
        <div style="box-shadow:2px 3px 2px black"class="g-signin2 d-inline-block" data-onsuccess="onSignIn" data-theme="dark"></div>
    </div>
    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      }
    </script>
  </body>
</html>

<script src="https://apis.google.com/js/platform.js" async defer></script>
