@model EventApp.Models.ActivityModel
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-4">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <h1>EventApp</h1>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav flex-grow-1 justify-right flex-row-reverse">
                    <li class="nav-item mr-2 ml-5">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogOut"><u
                                class="text-primary">Logout</u></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Dashboard"><u
                                class="text-primary">Home</u></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="text-left">
    <h2 class="mb-5">Create an Event:</h2>
    <form asp-action="CreateActivity" method="post">
        <div class="ml-3 align-top">
            <div style="width:49.5%" class="d-inline-block">
                <span class="d-block text-danger font-italic" asp-validation-for="Title"></span>
                <h3 class="newEvH3 d-inline-block mb-4 w-25">Title:</h3>
                <input class="d-inline-block ml-3 phoneForm" style="width:60%;" asp-for="Title">
            </div>
            <div style="width:49.5%" class="d-inline-block">
                <span class="d-block text-danger font-italic" asp-validation-for="TimeHour"></span>
                <h3 class="newEvH3 d-inline-block mb-4 w-25">Time:</h3>
                <select class="newEvTimeSelect" style="width:10%;" asp-for="TimeHour">
                    @{ for (int i = 1; i < 13; i++){ <option>@i</option>
                        }
                        }
                </select>
                <select style="width:10%;" asp-for="TimeMin">
                    <option>00</option>
                    <option>05</option>
                    @{ for (int i = 10; i <= 55; i +=5 ) { <option>@i</option>
                        }
                        }
                        <option></option>
                </select>

                <select asp-for="AMPM" style="width:10%;">
                    <option>AM</option>
                    <option>PM</option>
                </select>
            </div>
            <div style="width:49.5%" class="d-inline-block">
                <span class="d-block text-danger font-italic" asp-validation-for="Date"></span>
                <h3 class="newEvH3 d-inline-block mb-4 w-25">Date:</h3>
                <input class="d-inline-block ml-3 phoneForm" style="width:60%;" asp-for="Date" type="date"
                    value="@DateTime.Today.ToString(" yyyy-MM-dd")">
            </div>
            <div style="width:49.5%" class="d-inline-block">
                <span class="d-block text-danger font-italic" asp-validation-for="Duration"></span>
                <h3 class="newEvH3 d-inline-block mb-4 w-25">Duration:</h3><input class="d-inline-block ml-3" style="width:35%;"
                    asp-for="Duration">
                <select class="durWidth" asp-for="DurationFormat">
                    <option value="Hours">Hours</option>
                    <option value="Minutes">Minutes</option>
                    <option value="Days">Days</option>
                </select>
            </div>
        </div>
        <div class="ml-3 align-top mt-4">
            <span class="d-block text-danger font-italic" asp-validation-for="Description"></span>
            <h3 class="newEvH3 d-inline-block align-top mr-2">Description:</h3>
            <textarea asp-for="Description" class="textDescHeight newEvTimeSelect w-75"
                style="height:200px;"></textarea>
        </div>
        <h3>Location:</h3>
        <input asp-for="Address" id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div id="map" style="color: red;">This is a map if a key is provided</div>


        <button class="btn  btn-primary createActivityButton" type="submit">Create Activity</button>
    </form>
</div>
<!--
    !!Commented out due to key necessity!!
<script
    src="https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=initAutocomplete"
    async defer></script>
    -->