@model EventApp.Models.ActivityModel
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-4">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><h1>Dojo Activity Center</h1></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav flex-grow-1 justify-right flex-row-reverse">
                    <li class="nav-item mr-2 ml-5">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogOut"><u class="text-primary">Logout</u></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Dashboard"><u class="text-primary">Home</u></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="text-left">
    <h2 class="mb-5">Create an Activity</h2>
    <form asp-action="CreateActivity" method="post">
    <div class="ml-5 align-top">
        <div style="width:49.5%" class="d-inline-block">
            <span class="d-block" asp-validation-for="Title"></span>
            <h3 class="d-inline-block mb-4 w-25">Title:</h3><input class="d-inline-block ml-3" style="width:60%;" asp-for="Title">
        </div>
        <div style="width:49.5%" class="d-inline-block">
            <span class="d-block" asp-validation-for="Time"></span>
            <h3 class="d-inline-block mb-4 w-25">Time:</h3><input class="d-inline-block ml-3" style="width:35%;" asp-for="Time"><select asp-for="AMPM" style="width:25%;" class="ml-1"><option>am</option><option>pm</option></select>
        </div>
        <div style="width:49.5%" class="d-inline-block">
            <span class="d-block" asp-validation-for="Date"></span>
            <h3 class="d-inline-block mb-4 w-25">Date:</h3><input class="d-inline-block ml-3" style="width:60%;" asp-for="Date" type="date">
        </div>
        <div style="width:49.5%" class="d-inline-block">
            <span class="d-block" asp-validation-for="Duration"></span>
            <h3 class="d-inline-block mb-4 w-25">Duration:</h3><input class="d-inline-block ml-3" style="width:35%;" asp-for="Duration">
                <select style="width:25%;"asp-for="DurationFormat">
                    <option value="Hours">Hours</option>
                    <option value="Minutes">Minutes</option>
                    <option value="Days">Days</option>
                </select>
        </div>
    </div>
    <div class="ml-5 align-top mt-4">
        <span class="d-block font-italic" asp-validation-for="Description"></span>
        <h3 class="d-inline-block align-top mr-2">Description:</h3><textarea asp-for="Description" class="w-75" style="height:200px;"></textarea>
    </div>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>
    <script>
      // This example adds a search box to a map, using the Google Place Autocomplete
      // feature. People can enter geographical searches. The search box will return a
      // pick list containing a mix of places and predicted search terms.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 40, lng: -95.7},
          zoom: 4,
          mapTypeId: 'roadmap'
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            }));

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEQidesVmbzzyHL2723Cb7tKKVhRha8cY&libraries=places&callback=initAutocomplete"
    async defer></script>
    <button type="submit" class="btn btn-primary float-right mr-5 mt-4">Create Activity</button>
</form>

</div>