@model EventApp.Models.LogUser
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <h1>EventApp</h1>
        </a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <!-- <div class="navbar-collapse collapse">
            <ul class="navbar-nav flex-grow-1 justify-right flex-row-reverse">
                <li class="nav-item mr-2 ml-5">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogOut"><u
                            class="text-primary">About</u></a>
                </li>
            </ul>
        </div> -->
    </div>
</nav>
<div class="registrationContainer phoneRegLogo border border-dark text-left">
    <div style="margin-top:-10px;" class="phoneLogin">
        <h3 style="margin-top:-20px; background-color:#FAFAFA;" class="d-inline-block ml-2">Register</h3>
    </div>
    <form asp-action="Register" type="Post" class="ml-4 flexForms">
        <div>
            <span class="d-block text-danger font-italic" asp-validation-for="Users.Name"></span>
            <h3 class="d-inline-block mb-5 formDescriptor mt-4 w-25 phoneDescription">Name: </h3> <input
                class="d-inline-block phoneForm formWidth" asp-for="Users.Name">
        </div>
        <div>
            <span class="d-block text-danger font-italic" asp-validation-for="Users.Email"></span>
            <h3 class="d-inline-block mb-5 formDescriptor w-25 phoneDescription">Email: </h3> <input
                class="d-inline-block phoneForm formWidth" asp-for="Users.Email">
        </div>
        <div>
            <span class="d-block text-danger font-italic" asp-validation-for="Users.Password"></span>
            <h3 class="d-inline-block mb-5 formDescriptor w-25 phoneDescription">Password: </h3> <input
                class="d-inline-block phoneForm formWidth" asp-for="Users.Password">
        </div>
        <div>
            <span class="d-block text-danger font-italic" asp-validation-for="Users.MatchPassword"></span>
            <h3 class="d-inline-block mb-5 formDescriptor w-25 phoneDescription">Confirm Password: </h3> <input
                class="d-inline-block phoneForm formWidth" asp-for="Users.MatchPassword">
        </div>
        <button class="btn btn-primary w-25 mr-4 mb-4 phoneButton" style="box-shadow: 2px 2px 2px 2px black;"
            type="submit">Register</button>
    </form>
    <a href="/" id="needAcct">Have an account? Login!</a>
</div>