/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

#map {
  height: 400px;
  width: 71%;
  text-align: center;
  margin-left: 19%;
  margin-top: 20px;
  /* margin: auto; */
}
#mapDisplay{
  height: 400px;
  width: 100%;
  display: inline-block;
}
.createActivityButton{
  text-align: center;
  width: 30%;
  margin: 20px 0px 0px 38%;
}
#activityChat{
  vertical-align: top;
  display: flex;
  flex-flow: column;
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px 7px;
  height: 400px;
  width: 100%;
}

.rightSide{
  display: inline-block;
  vertical-align: top;
  margin: 5px 5px 5px 5px;
}
.nonBlock{
  display: inline-block;
  vertical-align: top;
}
.chatMessage{
  /* margin: 3px 0px 3px; */
  display: block;
}
.messageDetail{
  justify-content: right;
  text-align: right;
  font-size: x-small;
  color: gray;
  margin-right: 10px;
}
.messageInput{
  width: 85%;
  margin: 0px -3px;
}
.flexContainer{
  display: flex;
  flex-flow: column;
}
.messageFlex{
  flex: 1 1 auto;
  /* overflow-y: auto; */
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  margin-top: 11px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  height: 37px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}
.signBox{
  margin-top:20%;
  background-image: linear-gradient(rgb(87, 223, 87), rgb(21, 202, 21),rgb(87, 223, 87));
  padding: 5px;
  border-radius: 10px;
  box-shadow: 8px 8px 8px black;
}

.messageForm{
  vertical-align: bottom;
  margin-top: 5px;
}
.GoogleButton{
  height: 65px;
  width: 289px !important;
  background-image: url("../images/btn_google_signin_dark_pressed_web@2x.png");
  background-size: 301px 78px;
  padding:0px;
  background-position: center;
  box-shadow: 2px 3px 5px black;
}
@media (max-width:450px){
  .phoneScreen{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .phoneLoginLogo{
    border: none !important;
  }
  .phoneLogin{
    width: 100% !important;
    border-bottom: 1px solid black;
    display: flex !important;
    flex-direction: column;
  }
  .flexForms{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .phoneForm{
    display: block !important;
    margin-bottom: 20px !important;
    width: 95% !important;
    justify-self: left;
  }
  .phoneDescription{
    margin-bottom: 20px !important;
    justify-self: left;
    width: fit-content !important;
  }
  .phoneButton{
    width: 75% !important;
    margin-left: 9% !important;
  }
  .phoneWelcome{
    text-align: center !important;
    margin-top: 10px;
  }
  }
  .registrationContainer{
    width:70%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

  }
  .container{
    text-align: center;
  }
  .loginPage{
    display: inline-block;
  }
  .formWidth{
    width: 33% !important;
    margin-left:5%;
    max-width:250px;
  }

